<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Powerful, yet simple tool for creating beautiful banner printouts (pdf format). Just enter a banner text, click 'generate' button and download free pdf printout. Use it for your friend's birthday, graduation day or welcome party.">
    <meta name="google" content="notranslate">

    <meta property="og:title" content="BigDayBanner.com: your own free banner pdf within seconds!">
    <meta property="og:description"
        content="Powerful, yet simple tool for creating beautiful banner printouts (pdf format). Just enter a banner text, click 'generate' button and download free pdf printout. Use it for your friend's birthday, graduation day or welcome party.">
    <meta property="og:image" content="https://bigdaybanner.com/img/og-meta-image.jpg?version=202109151905">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">

    <title>BigDayBanner.com: your own free banner pdf within seconds!</title>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-umd-min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <div style="max-width: 1000px; width:100%; margin:0 auto;">
                    <img src="./img/title-banner-100.jpg?version=202109151905" width="100%" style="padding-top: 20px;"
                        alt="big day banner welcome picture">

                    <div id="app">
                        <ol>
                            <h2>
                                <li>Insert banner text</li>
                            </h2>

                            <input id="input_generateText" type="text" class="form-control" placeholder="" aria-label=""
                                aria-describedby="" v-model="bannerValue" style="margin-bottom: 0pxs; max-width: 500px;"
                                maxlength="100" required>
                            <div class="input_generateText_error" v-if="input_generateText_error"
                                style="color: indianred;" v-cloak>
                                {{input_generateText_error}}
                            </div>

                            <h2>
                                <li>Generate pdf printout</li>
                            </h2>
                            <button class="btn btn-primary" type="button" id="button-addon2" v-on:click="generate">
                                Generate banner PDF
                            </button>

                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-home" type="button" role="tab">Shape</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-profile" type="button" role="tab">Color
                                            palette</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-contact" type="button" role="tab">Pattern</button>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tabContent">

                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel">

                                        <!-- Shapes panel -->

                                        <div class="row row-cols-2 row-cols-md-4 g-4">
                                            <div class="col">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <svg xmlns="http://www.w3.org/2000/svg"     xmlns:xlink="http://www.w3.org/1999/xlink"    xmlns:krita="http://krita.org/namespaces/svg/krita"    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"    width="100%%" height="100%" viewBox="0 0 495 672"><def></def><path id="shape0" fill="#90be6d" fill-rule="evenodd" stroke="#000000" stroke-width="5" stroke-linecap="square" stroke-linejoin="bevel" d="M0,0 L495,0 L495,672 L247,531 L0,672 L0 0Z" /><text id="shape1" krita:useRichText="true" x="50%" y="50%" text-anchor="middle" fill="#FFF" dominant-baseline="middle" font-size="400" font-stretch="normal" font-weight="600" kerning="0" letter-spacing="0" word-spacing="0" style="stroke:#000000;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter">A</text></svg>
                                                    </div>
                                                    <div class="card-footer">
                                                        <small class="text-muted">Awsome shape 1</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <svg xmlns="http://www.w3.org/2000/svg"     xmlns:xlink="http://www.w3.org/1999/xlink"    xmlns:krita="http://krita.org/namespaces/svg/krita"    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"    width="100%%" height="100%" viewBox="0 0 495 672"><def></def><path id="shape0" fill="#70be6d" fill-rule="evenodd" stroke="#000000" stroke-width="5" stroke-linecap="square" stroke-linejoin="bevel" d="M0,0 L495,0 L495,672 L247,531 L0,672 L0 0Z" /><text id="shape1" krita:useRichText="true" x="50%" y="50%" text-anchor="middle" fill="#FFF" dominant-baseline="middle" font-size="400" font-stretch="normal" font-weight="600" kerning="0" letter-spacing="0" word-spacing="0" style="stroke:#000000;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter">B</text></svg>
                                                    </div>
                                                    <div class="card-footer">
                                                        <small class="text-muted">Awsome shape 2</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <svg xmlns="http://www.w3.org/2000/svg"     xmlns:xlink="http://www.w3.org/1999/xlink"    xmlns:krita="http://krita.org/namespaces/svg/krita"    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"    width="100%%" height="100%" viewBox="0 0 495 672"><def></def><path id="shape0" fill="#40be6d" fill-rule="evenodd" stroke="#000000" stroke-width="5" stroke-linecap="square" stroke-linejoin="bevel" d="M0,0 L495,0 L495,672 L247,531 L0,672 L0 0Z" /><text id="shape1" krita:useRichText="true" x="50%" y="50%" text-anchor="middle" fill="#FFF" dominant-baseline="middle" font-size="400" font-stretch="normal" font-weight="600" kerning="0" letter-spacing="0" word-spacing="0" style="stroke:#000000;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter">C</text></svg>
                                                    </div>
                                                    <div class="card-footer">
                                                        <small class="text-muted">Awsome shape 3</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <svg xmlns="http://www.w3.org/2000/svg"     xmlns:xlink="http://www.w3.org/1999/xlink"    xmlns:krita="http://krita.org/namespaces/svg/krita"    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"    width="100%%" height="100%" viewBox="0 0 495 672"><def></def><path id="shape0" fill="#10be6d" fill-rule="evenodd" stroke="#000000" stroke-width="5" stroke-linecap="square" stroke-linejoin="bevel" d="M0,0 L495,0 L495,672 L247,531 L0,672 L0 0Z" /><text id="shape1" krita:useRichText="true" x="50%" y="50%" text-anchor="middle" fill="#FFF" dominant-baseline="middle" font-size="400" font-stretch="normal" font-weight="600" kerning="0" letter-spacing="0" word-spacing="0" style="stroke:#000000;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter">D</text></svg>
                                                    </div>
                                                    <div class="card-footer">
                                                        <small class="text-muted">Awsome shape 4</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel">

                                        <!-- Color patteles panel -->
                                        Say a warm walcome to color palletes

                                    </div>

                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel">

                                        <!-- Patterns panel -->
                                        Patters go here

                                    </div>
                                </div>

                            </div>
                            <div class="h2-section">
                                <h2>
                                    <li>Generate printout</li>
                                </h2>
                                <button class="btn btn-primary btn-lg" type="button" id="button-addon2" v-on:click="generate">
                                    <i class="bi bi-file-earmark-pdf"></i> Generate PDF
                                </button>
                            </div>
                            <div class="h2-section">
                                <h2>
                                    <li>
                                        Cut out the letters, connect with a string, enjoy! <i
                                            class="bi bi-emoji-smile"></i>
                                    </li>
                                </h2>
                            </div>
                        </ol>
                    </div>
                    <div style="padding-top: 20px; text-align: right;">
                        <i class="bi bi-mailbox"></i>&nbsp;&nbsp;Suggestions, requests? Let us know:
                        <a href="mailto:hello@bigdaybanner.com">hello@bigdaybanner.com</a>
                        <div style="font-size:xx-small;color: gray;">version: 202109151905</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- pdfmake -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.0/pdfmake.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.0/vfs_fonts.min.js'></script>
    <!-- analytics -->
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js"
        id="ZwSg9rf6GA" async defer></script>
    <script src="./js/684fbaa6-db4e-4ffc-8fc1-cbdb79db649b.js?version=202109151905"></script>
</body>

</html>
